*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    height: 70px;
    width: 100%;
    background-color: white;
    position: fixed;
    /* border: 1px solid black; */
    z-index: 4;
}
header img{
    height: 35px;
    width: 90px;
    /* border: 1px solid black; */
    margin-left: 100px;
    margin-top: 15px;
}
header nav{
    height: 60px;
    width: 30%;
    margin-top: -30px;
    margin-left: 200px;
}
header nav a{
    margin-left: 30px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: black;
}
header nav a:hover{
    color: #f04506;
    text-decoration: underline;
}
header i{
    position: absolute;
    margin-top: -60px;
    margin-left: 1130px;
}
header h3{
    position: absolute;
    margin-top: -62px;
    margin-left: 1150px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: #f04506;
}
header button{
    height: 45px;
    width: 150px;
    background-color: #f04506;
    border: 1px solid #f04506;
    color: white;
    font-size: 18px;
    box-shadow: 3px  3px 3px   #f04506 ;
    position: absolute;
    font-family: 'Poppins', sans-serif;
    border-radius: 506px;
    margin-top: -68px;
    margin-left: 1300px;
}
section .bg{
    height: 900px;
    background-image: url(h1_hero1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
section .bg img{
    margin-top: 570px;
    position: absolute;
}
section .bg h2{
    font-family: 'Great Vibes', cursive;
    position: absolute;
    margin-top: 200px;
    font-size: 200px;
    margin-left: 100px;
    color: #fdece6;
}
section .bg h3{
    font-family: 'Nunito', sans-serif;
    position: absolute;
    margin-top: 320px;
    font-size: 80px;
    margin-left: 150px;
    color: black;
}
section .bg p{
    font-family: 'Merriweather', serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Poppins', sans-serif;
    position: absolute;
    margin-top: 550px;
    font-size: 18px;
    margin-left: 150px;
    color: rgb(31, 30, 30);
}
section .bg button{
    height: 55px;
    width: 190px;
    background-color: #f04506;
    border: 1px solid #f04506;
    color: white;
    position: absolute;
    border-radius: 506px;
    margin-top: 650px;
    margin-left: 150px;
    font-size: 20px;
    box-shadow: 3px  3px 3px   #f04506 ;
}
.img{
    height: 750px;
    width: 100%;
}
.img h4{
    font-family: 'Space Mono', monospace;
    color: #f04506;
    margin-top: 150px;
    margin-left: 700px;
    font-size: 20px;
}
.img h3{
    font-family: 'Nunito', sans-serif;
    color: #000000;
    margin-left: 550px;
    font-size: 50px;
}
.boxsection{
    height: 500px;
    width: 100%;
    /* border: 1px solid black; */
    margin-top: 50px;
    position: relative;
}
.box1{
    height: 380px;
    width: 340px;
    /* border: 1px solid black; */
    border-bottom-right-radius: 60px;
    margin-left: 180px;
    margin-top: 80px;
    float: left;
    background-color: #fff5f2;
}
.box1 .img1{
    height: 180px;
    width: 300px;
    margin-left: 20px;
    margin-top: 20px;
    /* border: 1px solid black; */
    border-bottom-right-radius: 50px;
    overflow: hidden;
}
.box1 .img1 img{
    height: 180px;
    width: 320px;
    border-bottom-right-radius: 50px;
    transition: 1s;
}
.box1 .img1 img:hover{
    transform: scale(1.1);
}
.box1 h3{
    font-size: 25px;
    margin-left: 100px;
    margin-top: 20px;
    font-family: 'Nunito', sans-serif;
}
.box1 p{
    text-align: center;
    font-size: 16px;
    margin-top: 10px;
    font-family: 'Nunito Sans', sans-serif;
}
.box1 button{
    height: 50px;
    width: 200px;
    background-color: #f04506;
    border: 1px solid #f04506;
    color: white;
    position: absolute;
    margin-top: 15px;
    margin-left: 60px;
    border-radius: 506px;
    font-size: 20px;
    box-shadow: 2px  1px 2px   #f04506 ;
    transition: 1s;
}
.box1 button:hover{
    margin-top: 10px;
}

.box2{
    height: 380px;
    width: 340px;
    /* border: 1px solid black; */
    border-bottom-right-radius: 60px;
    position: absolute;
    float: left;
    margin-top: 80px;
    margin-left: 580px;
    background-color: #fff5f2;
}
.box2 .img2{
    height: 180px;
    width: 300px;
    margin-left: 20px;
    margin-top: 20px;
    /* border: 1px solid black; */
    border-bottom-right-radius: 50px;
    overflow: hidden;
}
.box2 .img2 img{
    height: 180px;
    width: 320px;
    border-bottom-right-radius: 50px;
    transition: 1s;
}
.box2 .img2 img:hover{
    transform: scale(1.1);
}
.box2 h3{
    font-size: 25px;
    margin-left: 100px;
    margin-top: 20px;
    font-family: 'Nunito', sans-serif;
}
.box2 p{
    text-align: center;
    font-size: 16px;
    margin-top: 10px;
    font-family: 'Nunito Sans', sans-serif;
}
.box2 button{
    height: 50px;
    width: 200px;
    background-color: #f04506;
    border: 1px solid #f04506;
    color: white;
    position: absolute;
    margin-top: 15px;
    margin-left: 60px;
    border-radius: 506px;
    font-size: 20px;
    box-shadow: 2px  1px 2px   #f04506 ;
    transition: 1s;
}
.box2 button:hover{
    margin-top: 10px;
}

.box3{
    height: 380px;
    width: 340px;
    /* border: 1px solid black; */
    border-bottom-right-radius: 60px;
    position: absolute;
    float: left;
    margin-top: 80px;
    margin-left: 980px;
    background-color: #fff5f2;
}
.box3 .img3{
    height: 180px;
    width: 300px;
    margin-left: 20px;
    margin-top: 20px;
    /* border: 1px solid black; */
    border-bottom-right-radius: 50px;
    overflow: hidden;
}
.box3 .img3 img{
    height: 180px;
    width: 320px;
    border-bottom-right-radius: 50px;
    transition: 1s;
}
.box2 .img3 img:hover{
    transform: scale(1.1);
}
.box3 h3{
    font-size: 25px;
    margin-left: 100px;
    margin-top: 20px;
    font-family: 'Nunito', sans-serif;
}
.box3 p{
    text-align: center;
    font-size: 16px;
    margin-top: 10px;
    font-family: 'Nunito Sans', sans-serif;
}
.box3 button{
    height: 50px;
    width: 200px;
    background-color: #f04506;
    border: 1px solid #f04506;
    color: white;
    position: absolute;
    margin-top: 15px;
    margin-left: 60px;
    border-radius: 506px;
    font-size: 20px;
    box-shadow: 2px  1px 2px   #f04506 ;
    transition: 1s;
}
.box3 button:hover{
    margin-top: 10px;
}

.section1{
    height: 600px;
    width: 100%;
    /* border: 1px solid black; */
}
.section1 img{
    margin-left: 200px;  
}
.section1 .text{
    height: 300px;
    width: 500px;
    /* border: 1px solid black; */
    position: relative;
    float: right;
    margin-right: 100px;
    margin-top: 100px
}
.section1 .text h4{
    font-family: 'Inconsolata', monospace;
    color: #f04506 ;
}
.section1 .text h3{
    font-family: 'Nunito', sans-serif;
    color: #000000;
    font-size: 30px;
    line-height: 1.3;
    margin-top: 20px;
}
.section1 .text p{
    font-size: 16px;
    margin-top: 20px;
    font-family: 'Nunito Sans', sans-serif;
    line-height: 1.8;
}
.section1 .text button{
    height: 45px;
    width: 130px;
    background-color: #f04506;
    border: 1px solid #f04506;
    color: white;
    margin-top: 30px;
    border-radius: 506px;
    font-size: 17px;
    box-shadow: 1px  2px 2px   #f04506 ;
}

.section2{
    height: 750px;
    width: 100%;
    background-color: #fef6f4 ;
}
.section2 img{
    float: right;
    margin-top: -100px;
}
.section2 h4{
    font-family: 'Inconsolata', monospace;
    color: #f04506 ;
    margin-left: 700px;
    margin-top: 150px;
    position: absolute;
}
.section2 h3{
    font-family: 'Nunito', sans-serif;
    color: #000000;
    font-size: 35px;
    position: absolute;
    margin-left: 550px;
    margin-top: 200px;
}

.k1{
    height: 300px;
    width: 100%;
    /* border: 1px solid black; */
    margin-top: 320px;
    position: absolute;
    transition: 4s;

}
.khanu1{
    height: 300px;
    width: 280px;
    /* border: 1px solid black; */
    float: left;
    margin-left: 300px;
    border-radius: 5px;
}
.khanu1:hover{
    /* transform: scale(1.1); */
    box-shadow: 2px 1px 2px 1px white;
    background-color: white;
}
.khanu1 img{
    height: 100px;
    margin-top: 40px;
    margin-left: 85px;
    position: absolute;
    border-radius: 50%;
    box-shadow: 1px 1.5px 2px #fcd0c0;
}
.khanu1 h3{
    position: absolute;
    margin-top: 160px;
    margin-left: 80px;
    font-size: 18px;
}
.khanu1 h3:hover{
    color: #f04506;
}
.khanu1 p{
    text-align: center;
    font-family: 'Lato', sans-serif;
    color: rgb(61, 61, 61);
    margin-top: 200px;
    font-size: 13px;
    line-height: 1.6;
}


.khanu2{
    height: 300px;
    width: 280px;
    /* border: 1px solid black; */
    float: left;
    margin-left: 40px;
    border-radius: 5px;
}
.khanu2:hover{
    /* transform: scale(1.1); */
    box-shadow: 2px 1px 2px 1px white;
    background-color: white;
}
.khanu2 img{
    height: 100px;
    margin-top: 40px;
    margin-left: 85px;
    position: absolute;
    border-radius: 50%;
    box-shadow: 1px 1.5px 2px #fcd0c0;
}
.khanu2 h3{
    position: absolute;
    margin-top: 160px;
    margin-left: 80px;
    font-size: 18px;
}
.khanu2 h3:hover{
    color: #f04506;
}
.khanu2 p{
    text-align: center;
    font-family: 'Lato', sans-serif;
    color: rgb(61, 61, 61);
    margin-top: 200px;
    font-size: 13px;
    line-height: 1.6;
}


.khanu3{
    height: 300px;
    width: 280px;
    /* border: 1px solid black; */
    float: left;
    margin-left: 40px;
    border-radius: 5px;
}
.khanu3:hover{
    /* transform: scale(1.1); */
    box-shadow: 2px 1px 2px 1px white;
    background-color: white;
}
.khanu3 img{
    height: 100px;
    margin-top: 40px;
    margin-left: 85px;
    position: absolute;
    border-radius: 50%;
    box-shadow: 1px 1.5px 2px #e6b7a6;
}
.khanu3 h3{
    position: absolute;
    margin-top: 160px;
    margin-left: 80px;
    font-size: 18px;
}
.khanu3 h3:hover{
    color: #f04506;
}
.khanu3 p{
    text-align: center;
    font-family: 'Lato', sans-serif;
    color: rgb(61, 61, 61);
    margin-top: 200px;
    font-size: 13px;
    line-height: 1.6;
}


.vdo img{
    height: 450px;
    width: 100%;
}
.vdo a img{
    height: 80px;
    width: 80px;
    position: absolute;
    margin-top: 185px;
    margin-left: 685px;
}
.vdo div{
    height: 150px;
    width: 150px;
    background-color: white;
    opacity: 0.5;
    border-radius: 50%;
    position: absolute;
    margin-top: 150px;
    margin-left: 650px;

}

.section3{
    height: 600px;
    width: 100%;
}
.section3 h4{
    font-family: 'Space Mono', monospace;
    color: #f04506;
    margin-top: 100px;
    margin-left: 700px;
    font-size: 18px;
}
.section3 h3{
    font-family: 'Nunito', sans-serif;
    color: #000000;
    margin-top: 20px;
    margin-left: 570px;
    font-size: 40px;
}
.b{
    height: 250px;
    width: 100%;
    margin-top: 100px;
    /* border: 1px solid black; */
    transition: 2s;
}
.b1{
    height: 250px;
    width: 450px;
    /* border: 1px solid black; */
    float: left;
    border-bottom-right-radius: 60px;
    margin-left: 19%;
}
.b1:hover{
    box-shadow: 1px 1px 5px 1px #fcd0c0;
}
.b1 p{
    font-size: 21px;
    font-family: 'Lato', sans-serif;
    color: #5a4943 ;
    margin-top: 30px;
    margin-left: 30px;
}
.b1 img{
    margin-top: 30px;
    margin-left: 30px;
}
.b1 h5{
    font-family: 'Lato', sans-serif;
    color: #f04506;
    margin-top: 45px;
    font-size: 20px;
    margin-left: 100px;
    position: absolute;
}
.b1 h6{
    color: #a1a0a0;
    margin-top: 70px;
    font-size: 15px;
    margin-left: 100px;
    position: absolute;
}


.b2{
    height: 250px;
    width: 450px;
    /* border: 1px solid black; */
    float: left;
    border-bottom-right-radius: 60px;
    margin-left: 2%;
}
.b2:hover{
    box-shadow: 1px 1px 5px 1px #fcd0c0;
}
.b2 p{
    font-size: 21px;
    font-family: 'Lato', sans-serif;
    color: #5a4943 ;
    margin-top: 30px;
    margin-left: 30px;
}
.b2 img{
    margin-top: 30px;
    margin-left: 30px;
}
.b2 h5{
    font-family: 'Lato', sans-serif;
    color: #f04506;
    margin-top: 45px;
    font-size: 20px;
    margin-left: 100px;
    position: absolute;
}
.b2 h6{
    color: #a1a0a0;
    margin-top: 70px;
    font-size: 15px;
    margin-left: 100px;
    position: absolute;
}

.imgsec{
    height: 320px;
    width: 100%;
    /* border: 1px solid black; */
}
.imgsec .aa{
    height: 320px;
    width: 25%;
    float: left;
    background: url(instra1.png);
    background-size: cover;
    background-position: center;
}
.imgsec .bb{
    height: 320px;
    width: 25%;
    float: left;
    background: url(instra2.png);
    background-size: cover;
    background-position: center;
}
.imgsec .cc{
    height: 320px;
    width: 25%;
    float: left;
    background: url(instra3.png);
    background-size: cover;
    background-position: center;
}
.imgsec .dd{
    height: 320px;
    width: 25%;
    float: left;
    background: url(instra4.png);
    background-size: cover;
    background-position: center;
}
footer{
    height: 450px;
    background-color: #fff7f3;
}
.ft1{
    height: 60px;
    width: 750px;
    /* border: 1px solid pink; */
    margin-left: 500px;
    padding-top: 100px;
}
footer b{
    padding: 70px;
    /* float: right; */
    position: relative;
    text-decoration: none;
    font-family: 'Assistant', sans-serif;
    color: rgb(91, 91, 91);
    font-size: 18px;
}
.ft2{
    height: 300px;
    width: 50px;
    /* border: 1px solid pink; */
    margin-left: 570px;
    margin-top: 30px;
    position: absolute;
    line-height: 40px;
}
.ft2 a{
    text-decoration: none;
    font-family: 'Assistant', sans-serif;
    color:  #82696e ;
    font-size: 15px;
    list-style: none;
}
.ft2 a:hover{
    color: #f04506;
    text-decoration: underline;
}

.ft3{
    height: 300px;
    width: 50px;
    /* border: 1px solid pink; */
    margin-left: 805px;
    margin-top: 30px;
    position: absolute;
    line-height: 40px;
}
.ft3 a{
    text-decoration: none;
    font-family: 'Assistant', sans-serif;
    color: #82696e ;
    font-size: 15px;
    list-style: none;
}
.ft3 a:hover{
    color: #f04506;
    text-decoration: underline;
}

.ft4{
    height: 150px;
    width: 300px;
    /* border: 1px solid pink; */
    margin-left: 1025px;
    margin-top: 30px;
    position: absolute;
    line-height: 40px;
}
.ft4 p{
    text-decoration: none;
    font-family: 'Assistant', sans-serif;
    color: #82696e;
    font-size: 15px;
    list-style: none;
}

.ft4 h3{
    text-decoration: none;
    font-family: 'Assistant', sans-serif;
    color: #ffc800;
    font-size: 22px;
    list-style: none;
}
.footer img{
    height: 60px;
    width: 180px;
    /* border: 1px solid pink; */
    margin-top: 100px;
    position: absolute;
    margin-left: 120px;
}
.ftpr p{
    height: 80px;
    width: 350px;
    /* border: 1px solid pink; */
    position: absolute;
    margin-top: 180px;
    margin-left: 120px;
    line-height: 24px;
    font-family: 'Assistant', sans-serif;
    font-size: 15px;
    color: #82696e;
}

.icon{
    height: 30px;
    width: 200px;
    /* border: 1px solid pink; */
    margin-top: 180px;
    margin-left: 120px;
    color: rgb(91, 91, 91);
    display: flex;
}
.icon i{
    font-size: 25px;
    margin-left: 20px;
    transition: 1s;

}
.icon .i1{
    transition: 0.3s;
}
.icon .i1:hover{
    margin-top: -5px;
    color: #f04506;
}